body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.title p {
    font-family: 'Raleway', sans-serif;
    color: #30a3f0;
    font-size: 18px;
}

.title h1 {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 45px;
    text-transform: uppercase;
    max-width: 720px;
    margin: 0 auto;
}

.element {
    width: 1px;
    height: 100px;
    background-color: #2b88c7;
    margin: 0 auto;
}

.element-top {
    margin-bottom: 29px;
}

element-bottom {
    margin-top: 32px;

}

.btn {
    color: #30a3f0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px 42px;
}

.btn:hover {
    color: #fff;
    background-color: #30a3f0;
    transition-delay: 0.2s;
}

.btn-a {
    text-transform: uppercase;
}

.nav {
    list-style-type: none;
}

.nav-link {
    color: #444444;
    font-family: lato;
    font-weight: 700;
}

.nav-link.active {
    color: #30a3f0;
}

.info-item,
.info-link {
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
}

.box h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 27px;
}

.title-h2 {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

.title-h2 span {
    color: #30a3f0;
    font-size: 16px;
    font-weight: 600;
}

.decription {
    color: #707070;
}

.list-decription {
    color: #222222;
}

.list-decription li {
    list-style-type: none;
}
